body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, InkLipquid, sans-serif;
  }
  
  @font-face {
    font-family: "InkLipquid";
    font-weight: 200;
    src: url("/public/fonts/InkLipquidFonts.ttf") format("truetype");
  }